@import "tailwindcss";

@font-face {
  font-family: "Badman Forever";
  src: url("./Font/batmfa__.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  * {
    font-family: "Badman Forever", sans-serif;
  }
  
  html,
  body {
    font-family: "Badman Forever", sans-serif;
  }
}